.jumbotron{
    background-image: url(/bootstrap-3.3.7-dist/images/4.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:320px;
    opacity: 0.8;
}
.profit{
    font-size:30px;
    font-family:Condiment;
    width:300px;
    height:100%;
    margin:10px;
    background-color: rgb(187, 238, 240);
    padding: 20px 20px 20px 20px;
    float:left;
}
.coverflow{
    margin: 10px;
    left:50%;
    width:300px;
    height:600px;
    float:left;
}
.deconnecter{
    margin: 50px;
    
}
