<footer class="text-center page-footer" style="background-color: rgb(170, 230, 230);   ">
    <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>ESPACES</h3>
            <div><a href="index.php">Page d'acceuil</a></div>
            <div><a href="utilisateur.php">Espace d'utilisateur</a></div>
            <div><a href="boatTable.php">Tableau des bateaux</a></div>
        </div>
        <div class="col-sm-4">
            <h3>AUTRES SITES</h3>
            <div><a href="http://www.armada.org/">armada.org</a></div>
            <div><a href="https://www.rouentourisme.com/">rouentourisme.com</a></div>
           <div><a href="http://www.normandie-tourisme.fr/">normandie-tourisme.fr</a></div>  
        </div>
        <div class="col-sm-4">
            <h3>CONTACT</h3>
            <addresss>
                Contactez nous: <a href="mailto:lijun.zheng@groupe-esigelec.org">Groupe-7-13</a>
                <div>si vous êtes intéressez à devenir responsable du bateau.</div>
            </addresss>
        </div>

    </div>
    </div>
</footer>