.jumbotron {
    height: 320px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    opacity: 0.8;
}

figure {
    text-align:center;
}