.jumbotron {
    height: 320px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    opacity: 0.8;
}

.carousel{
    height: 100%;
    width: 700px ;
    margin-top: 5px;
}
.slideimage{

    width: 700px;
    height: 320px !important;
}
